* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
<<<<<<< Updated upstream
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

#get-started {
    height: 100px;
    width: 300px; 
    margin-left: 50px;
=======
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#get-started {
    height: 100px;
    width: 300px;
    
>>>>>>> Stashed changes
}

.dark {
        background-color: black;
}

.light {
        background-color: white;
}

.header-container{
    display: flex;
    justify-content: space-between;
<<<<<<< Updated upstream
}

.jokes-container{
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#joke{
    display: flex;
    align-items: center;
    justify-content: center;
    
=======
>>>>>>> Stashed changes
}